@{Layout = "_Layout";}

@model Factory.Models.Machine;

<div class="row g-3 align-items-center">
  <div class="col-auto">
    <h2>New Machine</h2>
    <p></p>
    <hr>
  </div>
  @using (Html.BeginForm()) {
    <div class="col-auto">
      @Html.LabelFor(model => model.Manufacturer)
      @Html.TextBoxFor(model => model.Manufacturer, new {@class = "form-control", placeholder = "Manufacturer", required="required"})
    </div>
    <div class="col-auto">
      @Html.LabelFor(model => model.Model)
      @Html.TextBoxFor(model => model.Model, new {@class = "form-control", placeholder = "Model"})
    </div>
    <div class="col-auto">
      @Html.LabelFor(model => model.SerialId)
      @Html.TextBoxFor(model => model.SerialId, new {@class = "form-control", placeholder = "00XXX123X0", required="required"})
    </div>
    <div class="col-auto">
      @Html.LabelFor(model => model.ProductionDate)
      @Html.TextBoxFor(model => model.ProductionDate, new {@type = "date", @class="form-control"})
    </div>
    <input type="submit" value="Submit" class="btn btn-dark" />
  }
</form>