@{Layout = "_Layout";}

@using Factory.Models;
@model Factory.Models.Machine;

<div class="row g-3 align-items-center">
  <div class="col-auto">
    <h2>New Machine</h2>
    <p></p>
    <hr>
  </div>
  @using (Html.BeginForm()) {
    <div class="col-auto">
      @Html.LabelFor(model => model.MakeModel)
      @Html.TextBoxFor(model => model.MakeModel, new {@class = "form-control", placeholder = "MakeModel", required="required"})
    </div>
    <div class="col-auto">
      @Html.LabelFor(model => model.SerialId)
      @Html.TextBoxFor(model => model.SerialId, new {@class = "form-control", placeholder = "00XXX123X0", required="required"})
    </div>
    <div class="col-auto">
      @Html.LabelFor(model => model.Date)
      @Html.TextBoxFor(model => model.Date, new {@type = "date", @class="form-control"})
    </div>
    <input type="submit" value="Submit" class="btn btn-dark" />
  }
</form>