@{Layout = "_Layout";}

@model Factory.Models.Machine;

<div class="card">
  <div class="card-header">
    <h3>Machine Details</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <span style="text-align:left;">@Html.DisplayFor(model => model.MakeModel)</span>
      <span style="float:right;">
        @using(@Html.BeginForm("Edit", "Machines")) {
          @Html.Hidden("id", @Model.MachineId)
          <button type="submit" class="btn btn-default">⌨</button>
        }
        @using(@Html.BeginForm("Delete", "Machines")) {
          @Html.Hidden("id", @Model.MachineId)
          <button type="submit" class="btn btn-default">🗑</button>
        }
      </span>
    </h5>
    <p class="card-text">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">Serial ID </th>
            <td>@Html.DisplayFor(model => model.SerialId)</td>
          </tr>
          <tr>
            <th scope="row">Serviced By</th>
              <td>
                @* @foreach(var join in Model.JoinEntities) { 
                  @if(@Model.JoinEntities.Count == 0) {
                    <em>No machines have been added</em>
                  } 
                    @join.Engineer.Company
                } *@
                </td>
          </tr>
        </tbody>
      </table>
    </p>
    <div class="row justify-content-md-center">
      <form method="get" action="/Machines/Create">
        <button class="btn btn-dark" type="submit">Add Engineers</button>
      </form>  
      <form method="get" action="/Machines/Edit">
        <button class="btn btn-dark" type="submit">Edit</button>
      </form>  
      <form method="get" action="/Machines/Delete">
        <button class="btn btn-dark" type="submit">Delete</button>
      </form>
    </div>
  </div>
</div>
