@{Layout = "_Layout";}

@using System.Collections.Generic;
@using Factory.Models;
@model Factory.Models.Engineer;

<div class="card">
  <div class="card-header">
  <h3>Edit Engineer</h3>
  </div>
  <div class="card-body">
    <p class="card-text">
      <div class="col-auto">
      @using (Html.BeginForm()) {
        @Html.HiddenFor(model => model.EngineerId)
        <div class="col-auto">
          Company Name
          @Html.EditorFor(model => model.Company, new {@class = "form-control", required="required"})
        </div>
        <div class="col-auto">
          Primary Contact
          @Html.EditorFor(model => model.Rep, new {@class = "form-control"})
        </div>
        <div class="col-auto">
          @Html.LabelFor(model => model.Phone)
          @Html.EditorFor(model => model.Phone, new {@class = "form-control",  required="required"})
        </div>
        <div class="col-auto">
          Email Address
          @Html.EditorFor(model => model.Email, new {@class = "form-control", required="required"})
        </div>
        <div class="col-auto">
          Address
          @Html.EditorFor(model => model.Address1, new {@class = "form-control", required="required"})
          @Html.EditorFor(model => model.Address2, new {@class = "form-control", required="required"})
        </div>
        <div class="col-auto">
          Business Hours
          @Html.EditorFor(model => model.Hours, new {@class = "form-control", required="required"})
        </div>
        <br>
        <input type="submit" value="Save" class="btn btn-dark"/>
        }
      </p>
    </div>
  </div>
</div>